
.icon-user:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e803'; } /* '' */
.icon-thumbs-down:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-graduation-cap:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */